<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inputstick.apps.apidemo"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <!-- only if direct Bluetooth connection is used (instead of InputStickUtility -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyboardDemoActivity"
            android:label="@string/title_activity_keyboard_demo" >
        </activity>
        <activity
            android:name=".MouseDemoActivity"
            android:label="@string/title_activity_mouse_demo" >
        </activity>
        <activity
            android:name=".MediaDemoActivity"
            android:label="@string/title_activity_media_demo" >
        </activity>
        <activity
            android:name=".GamepadDemoActivity"
            android:label="@string/title_activity_gamepad_demo" >
        </activity>
        <activity
            android:name=".TouchScreenDemoActivity"
            android:label="@string/title_activity_touch_screen_demo" >
        </activity>
        <activity
            android:name=".RawHIDDemoActivity"
            android:label="@string/title_activity_raw_hiddemo" >
        </activity>
    </application>

</manifest>
